@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.App {
  text-align: center;
  background: rgb(185, 230, 255);
  background: linear-gradient(to bottom right, rgb(185, 230, 255), rgb(0, 166, 255));
  color: white;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Open Sans';
  text-shadow: 1px 1px grey;
  /* animation: 0.5s ease 0s normal forwards 1 fadein; */
}

.clock {
  font-size: 14vw;
  font-weight: 300;

}
.clock-small {
  font-size: 50px;
  position: absolute;
  top: 0;
  margin-left: 50px;
  margin-top: 50px;
}

@keyframes fadein {
  0% { opacity: 0;}
  66% { opacity: 0;}
  100% { opacity: 1;}
}

.title {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 50px;
  padding-right: 10px;
}

*:focus{
  outline: none;
}

.textBox {
  background: none;
  color: white;
  border:none;
  border-bottom: 1px solid white;
  text-align: center;
  text-shadow: 1px 1px grey;
  margin-right: 5px;
  width: 75px;
  font-size:15px;
  font-weight: 300;
  font-family: "Open Sans"
  /* margin-top: 10px; */
}

.textBox::-webkit-input-placeholder {
  color: white;
}

#amPmBox {
  color: white;
}

.textOpt {
  color: black;
}

#submit {
  background: white;
  color: black;
  text-shadow: none;
  border: white 2px solid;
  cursor:pointer;
}
#submit:active {
  transform: translateY(1px);
}

.form {
  display:grid;
  justify-content: center;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px 50px 50px;
  align-items: center;
}
.border {
  /* border: 1px solid black; */
}
